client/.idea
client/cmake-build-debug
server/.idea
server/cmake-build-debug/*
client/.idea/*
client/.idea/workspace.xml
.idea
client/my_sync_folder
/server/data
server/data
server/data/*
server/data/
client/.vscode/settings.json
server/redis/redis_data/
server/redis/redis_data/*
/server/redis/redis_data/*
/server/redis/redis_data/appendonly.aof
log.txt
log.txt
